/***************
color
 **************/

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-black: #000;
$color-white: #FFF;
$color-gray: #F2F4F6;
$color-red: #CC3D32;