/************************
 * header
 ***********************/
#header {
    background-color: $color-black;
    opacity: 0.1;
}
.header__wrapper {
    &--nav {
        height: 50px;
        padding: 0 20px;
        &-title {
            color: #FFFFFF;
            line-height: 50px;
            font-size: 20px;
        }
    }
}